body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;
}


.nav_container{
    width:90%;


}

header {
    padding: 15px;

}

header::after{
    content: '';
    display: table;
    clear: both;
}



nav {
    float: right;

}

nav ul {
   margin: 0;
   padding: 0;
   list-style: none; 
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: bold;

}

nav a {
    color: #4d4d4d;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #7064fc;
    transition: all 0.4s ease;
    
}

hr {
    color:rgba(242, 242, 242, 0.3);
   
}

#intro_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 50px;
    width: 1200px;
    height: 400px;
    position: relative;
    

}

.intro {
    
    position: absolute;
    margin-top: 100px;
    margin-left: 70px;
    

}

.intro h1 {
    font-size: 40px;
    color: #333;
    line-height: 0px;
    
}

.intro p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    line-height: 0px;
}



.rocket_intro {
    height: 400px;
    width: 600px;
    position: absolute;
    right: 0px;
}



.email_button {
    font: 18px Helvetica, Arial;
    text-decoration: none;
    color: #7064fc;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #7064fc;
    border-right: 1px solid #7064fc;
    border-bottom: 1px solid #7064fc;
    border-left: 1px solid #7064fc;
    border-radius: 3px;
    line-height: 60px;
  }


.intro a:hover{
    color: white;
    background-color: #7064fc;
    transition: all 0.4s ease;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 3px;
}

.about_me {
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 50px;
    width: 1200px;
    height: 400px;
    position: relative;
    
}


.about_me_writing {
    position: absolute;
    height: 400px;
    margin-left: 500px;
    
}

.aboutme_rocket{
    height: 400px;
    width: 450px;
    position: absolute;
    
    
}


.normal_h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #333;
}

.normal_p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
}


#experience_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 50px;
    width: 1200px;
    height: 1000px;
    position: relative;
  

}

.coding_lang_pic {
    height: 400px;
    width: 600px;
    position: absolute;
    right: 0px;
    top: 50px;
    padding-left: 30px;


}

.experience_writing {
    position: absolute;
    width: 550px;

    left: 0px;
}

.experience_writing_pt2 {
    position: absolute;

    width: 550px;
    height: auto;
    margin-top: 570px;

}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 3px;

}

.lang {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    color: #808080;
    font-size: 20px;
    line-height: 3px;
    font-weight: lighter;
}




.experience_writing_pt3 {
    position: absolute;
 
    width: 550px;
    right: 0px;
    margin-top: 570px;
    height: auto;

}

#education_container {
 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 50px;
    width: 1200px;

}

.maths {
    height: 700px;
    width: 430px;
    left: 0px;

}

.edu_1 {

    position: absolute;
    right: 0px;
    top: 0px;
    width: 660px;
    margin-top: 100px;

}


.edu_title {
    position: absolute;
    top: 20px;
    right: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #333;
    margin-top: 0px;
    width: 660px;
}

.uni_details1 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 660px;
    margin-top: 170px;
}

#school_year {

    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;

}


#school_details {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    top: 0px;
    margin-left: 110px;
}



.uni_details2 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 660px;
    margin-top: 310px;
}

#school_year2 {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;

}

#modules-list {
    color: #808080;
}

#school_details2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    top: 0px;
    margin-left: 110px;
}

.uni_details3 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 660px;
    margin-top: 480px;
}

#school_year3 {

    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;

}

#school_details3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    top: 0px;
    margin-left: 110px;
}

footer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 50px;
    width: 1200px;

}

footer a:hover{
    color: white;
    background-color: #7064fc;
    transition: all 0.4s ease;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 3px;
}

/* The code below is for adjusting the website for differenct resolutions*/

